* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?cs=srgb&dl=pexels-marko-blazevic-1053687.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.row {
    background: white;
    border-radius: 40px;
}

.btn {
    width: 200px;
    background-color: black;
}

.side-menu {
    border-radius: 0 40px 40px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 20%;
}

.editImage-page {
    margin-top: 10vh;
    margin-bottom: 10vh;
}


