*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('https://images.pexels.com/photos/1053687/pexels-photo-1053687.jpeg?cs=srgb&dl=pexels-marko-blazevic-1053687.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.data-container{
    color: white;
    background-color: black;
    max-width: 500px;
    margin: 180px auto;
    padding: 50px;
    border-radius: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

input,a{
    max-width: 300px;
    margin: 10px auto;
}
