.main-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.status h1 {
    font-size: 3.5rem;
    color: #2ec1ac;
    margin-bottom: 5vh;
}

.status a {
    margin: 0 1rem 0;
}

.buttons {
    text-align: center;
}
