* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lobster', cursive;
    font-family: 'Noto Serif', serif;
    background-color: black;
}

#main-container {
    margin: 50px 100px;
    border-radius: 40px;
    padding: 20px 0 0;

}

#brand-container {
    margin: 10px 10px 0px 30px;
    color: white;
    border-radius: 40px;
    font-family: 'Lobster', cursive;
}

#brand-container a {
    text-decoration: none;
}

#brand-container h1, #brand-container h4 {
    color: black;
}

#navbar-container {
    color: white;
    background-color: black;
    margin: 20px 0 0 0;
}

#middle-container {
    text-align: center;
    color: white;
    background-color: white;
    margin: 0 0 5px 0;
    padding: 50px 80px;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    opacity: 0.9;
    transition: all 1s;
}

#middle-container p:hover {
    opacity: 1;
    color: white;
}

#images-container {
    margin: 5px 10px;
}


.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

nav a:hover {
    background-color: white;
    color: black;
}

#images-container img {
    border-radius: 40px;
    padding: 10px 5px;
    width: auto;
    height: auto;

}

#footer-container {
    margin-top: 50px;
    padding: 50px 50px;
    background-color: black;
    color: white;
}

#footer-container p {
    font-size: 15px;
}

i {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

i:hover {
    text-decoration: none;
}

#main-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

h4 {
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}