<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--    Display Name of Project -->
    <display-name>Artistic Moves</display-name>

    <!--    List of Welcome File List-->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--    Login Servlet-->
    <servlet>
        <description></description>
        <display-name>Login</display-name>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.ArtisticMoves.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

    <!--    Register Servlet-->
    <servlet>
        <description></description>
        <display-name>ServletRegister</display-name>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>com.ArtisticMoves.ServletRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/ServletRegister</url-pattern>
    </servlet-mapping>
    <!--    EditUserProfile Servlet-->
    <servlet>
        <description></description>
        <display-name>EditUserProfileServlet</display-name>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.EditUserProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditUserProfileServlet</servlet-name>
        <url-pattern>/EditUserProfile</url-pattern>
    </servlet-mapping>

    <!--    ChangePasswordServlet Servlet-->
    <servlet>
        <description></description>
        <display-name>ChangePasswordServlet</display-name>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>

    <!--    LogOutServlet Servlet-->
    <servlet>
        <description></description>
        <display-name>LogOutServlet</display-name>
        <servlet-name>LogOutServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.LogOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogOutServlet</servlet-name>
        <url-pattern>/LogOutServlet</url-pattern>
    </servlet-mapping>

    <!--    ChangeAvatarServlet Servlet-->
    <servlet>
        <description></description>
        <display-name>ChangeAvatarServlet</display-name>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.ChangeAvatarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangeAvatarServlet</servlet-name>
        <url-pattern>/ChangeAvatarServlet</url-pattern>
    </servlet-mapping>

    <!--    AddProductServlet Servlet-->
    <servlet>
        <description></description>
        <display-name>AddProductServlet</display-name>
        <servlet-name>AddProductServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.AddProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductServlet</servlet-name>
        <url-pattern>/AddProductServlet</url-pattern>
    </servlet-mapping>

    <!--    DeleteProductServlet  Servlet    -->

    <servlet>
        <description></description>
        <display-name>DeleteProductServlet</display-name>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <description>EditProductServlet</description>
        <display-name>EditProductServlet</display-name>
        <servlet-name>EditProductServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductServlet</servlet-name>
        <url-pattern>/EditProductServlet</url-pattern>
    </servlet-mapping>

    <!--    Delete User Servlet    -->
    <servlet>
        <description></description>
        <display-name>DeleteUserServlet</display-name>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet</url-pattern>
    </servlet-mapping>

    <!--    PlaceOrderServlet Servlet    -->
    <servlet>
        <description></description>
        <display-name>PlaceOrderServlet</display-name>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.PlaceOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceOrderServlet</servlet-name>
        <url-pattern>/PlaceOrderServlet</url-pattern>
    </servlet-mapping>

    <!--    PlaceOrderServlet Servlet    -->
    <servlet>
        <description></description>
        <display-name>findOrderServlet</display-name>
        <servlet-name>findOrderServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.findOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>findOrderServlet</servlet-name>
        <url-pattern>/findOrderServlet</url-pattern>
    </servlet-mapping>

    <!--    Delete Order Servlet    -->

    <servlet>
        <description></description>
        <display-name>DeleteOrderServlet</display-name>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.DeleteOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteOrderServlet</servlet-name>
        <url-pattern>/DeleteOrderServlet</url-pattern>
    </servlet-mapping>
    <!--    AddtoCartServlet Servlet    -->

    <servlet>
        <description></description>
        <display-name>AddtoCartServlet</display-name>
        <servlet-name>AddtoCartServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.AddtoCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddtoCartServlet</servlet-name>
        <url-pattern>/AddtoCartServlet</url-pattern>
    </servlet-mapping>


    <!--    EditOrderServlet Servlet    -->
    <servlet>
        <description>EditOrderServlet</description>
        <display-name>EditOrderServlet</display-name>
        <servlet-name>EditOrderServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.EditOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditOrderServlet</servlet-name>
        <url-pattern>/EditOrderServlet</url-pattern>
    </servlet-mapping>

    <!--    RemoveFromCartServlet Servlet    -->
    <servlet>
        <description>RemoveFromCartServlet</description>
        <display-name>RemoveFromCartServlet</display-name>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <servlet-class>com.ArtisticMoves.RemoveFromCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveFromCartServlet</servlet-name>
        <url-pattern>/RemoveFromCartServlet</url-pattern>
    </servlet-mapping>

</web-app>